@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap");
@import "./color";
@import "./responsive";

h1 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 3rem;
  color: $colorBlack;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
  @include tablet {
    font-size: 4.8rem;
    line-height: 4rem;
    margin-bottom: 1rem;
  }
}

h2 {
  font-family: "Roboto Mono";
  font-weight: 500;
  font-size: 1.3rem;
  color: $colorPrimary;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  @include tablet {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

h3 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-family: "Roboto Mono";
  font-weight: 700;
  font-size: 1.7rem;
  margin-top: 0px;
  margin-bottom: 0.5rem;
}

p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 0px;
  margin-bottom: 2rem;
  line-height: 1.7rem;
  color: $colorSecondary;
}

.hyphenation {
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.textYellow {
  color: $colorPrimary;
}

.strongYellow {
  font-weight: bold;
  color: $colorPrimary;
}

strong {
  font-weight: 700;
}

.importantText {
  font-family: "Roboto";
  flex-wrap: wrap;
  font-weight: 300;
  font-size: 2.2rem;
  color: $colorBlack;
  line-height: 4.3rem;
  display: flex;
}

@mixin caption {
  margin-top: 10px;
  font-size: 0.8rem;
  font-family: "Roboto Mono";
}

.caption {
  @include caption;
}

.white-caption {
  @include caption;
  color: white;
  font-size: 0.9rem;
}
