@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap");

h1 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 4.5rem;
  color: $colorBlack;
  line-height: 4rem;
}

h2 {
  font-family: "Roboto Mono";
  font-weight: 500;
  font-size: 2rem;
  color: $colorPrimary;
}

h3 {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 1.4rem;
}

.textYellow {
  color: $colorPrimary;
}

.strongYellow {
  font-weight: bold;
  color: $colorPrimary;
}

strong {
  font-weight: 700;
}

.importantText {
  font-family: "Roboto";
  flex-wrap: wrap;
  font-weight: 300;
  font-size: 2.2rem;
  color: $colorBlack;
  line-height: 4.3rem;
  display: flex;
}
