@import "../abstract/fonts";
@import "../component/card";
@import "../component/button";
@import "../component/videos";
@import "../component/imageGallery";
@import "../component/videoEmbed";
@import "../component/blockImage";
@import "../abstract/responsive";
@import "../component/back-button";

.course-root {
  max-width: 1300px;
  margin: auto;
  margin-top: 100px;

  @include desktop {
    margin-top: 200px;
  }
}

.course-header {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 20px;
  padding-right: 20px;

  @include desktop {
    flex-direction: row;
  }

  @include large {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.course-header-info {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 80px;
  width: 100%;

  @include desktop {
    width: 400px;
  }

  display: flex;
  flex-direction: column;

  .course-header-title {
    font-size: 2.5rem;
    line-height: 100%;
    //font-family: "Titillium Web", sans-serif;
    //text-transform: none;

    @include desktop {
      margin-top: -0.3rem;
    }
  }
  .course-header-stat {
    .course-header-stat-class {
      font-family: "Share Tech Mono", monospace;
      color: $colorPrimary;
      font-size: 1rem;
      margin-bottom: 0px;
    }
    .course-header-stat-info {
      font-family: "Roboto Mono", monospace;
      color: $colorBlack;
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 0px;
      word-wrap: break-word;
    }
  }
}

.course-header-image-content {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 300px;

  @include tablet {
    height: 360px;
  }

  @include desktop {
    height: 450px;
  }

  .header-image {
    height: 100%;
  }
}

.course-body {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;

  @include desktop {
    flex-direction: row;
    margin-top: 100px;

    @include large {
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 0px;
    }
  }
  .course-body-links {
    margin-top: 30px;

    @include tablet {
      margin-top: 0px;
      height: max-content;
      position: sticky;
      position: -webkit-sticky;
      top: 50px;
    }
    h3 {
      margin-bottom: 0px;
      font-size: 1.6rem;
    }
    .course-body-links-buttons {
      display: flex;
      flex-direction: column;
      width: auto;
      flex-shrink: 0;

      @include tablet {
        flex-direction: row;
        justify-content: space-between;
      }

      @include desktop {
        flex-direction: column;
        width: 400px;
        padding-right: 0px;
        margin-right: 80px;
      }
    }
  }

  .course-body-description {
    h3 {
      margin-bottom: 15px;
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
}

.button-collection {
  margin-top: 15px;
  p {
    font-family: "Roboto Mono", monospace;
    color: $colorBlack;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0px;
  }
}
