@import "../abstract/fonts";
@import "../component/cardUdd";
@import "../component/cardUdp";
@import "../component/card";
@import "../component/button";
@import "../component/videos";
@import "../component/imageGallery";
@import "../component/videoEmbed";
@import "../component/blockImage";
@import "../abstract/responsive";

.mainCourse {
  display: flex;
  justify-content: center;
  width: 100%;

  .layoutCourse {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin-top: 100px;
  }
}

.courseInfo {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 20px;
  margin-bottom: 50px;

  @include desktop {
    flex-direction: row;
  }

  .courseStats {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }

    @include desktop {
      flex-direction: column;
      position: sticky;
      margin-right: 20px;
      justify-content: flex-start;
    }
    .courseItem {
      display: flex;
      flex-direction: column;
      width: 100%;

      @include tablet {
        width: 49%;
        flex-direction: row;
        padding-bottom: 20px;
      }

      @include desktop {
        width: 100%;
        flex-direction: column;
        padding-bottom: 20px;
      }

      .courseContent {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        padding: 15px;
        color: $colorWhite;
        background: $colorSecondary;
        p {
          font-family: "Roboto Mono";
          font-size: 0.9rem;
          color: $colorWhite;
          margin-bottom: 0px;
        }
      }
    }
  }

  .courseBody {
    //border-left: 2px solid $colorGray;
    width: 100%;
  }
}
