@import "../component/nav";
@import "../abstract/color";
@import "../component/triangle";

.topBar {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 100;
}

.line {
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
  height: 2px;
  background: $colorGray;
}

.navLogo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 5%;
  margin-left: 5%;
}

.logo {
  margin-top: -5px;
  img {
    padding-right: 12px;
  }
}
