@import "../abstract/color";
@import "../abstract/fonts";

[data-reach-dialog-overlay] {
  background-color: hsla(0, 0%, 0%, 0.99);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  z-index: 10;
}

[data-reach-dialog-content] {
  display: flex;
  max-height: 90%;
  outline: none;
  max-width: 1200px;
  z-index: 10;
}

.GridDialog {
  display: grid;
  width: 100%;
  grid-template-rows: 50px auto auto 60px;
  grid-template-columns: 100px auto auto 100px;
}

.closeItem {
  display: flex;
  grid-area: 4 / 4 / 5 / 5;
  z-index: 12;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;

  img {
    display: flex;
    width: 40px;
  }
}

.leftItem {
  display: flex;
  grid-area: 1 / 1 / 5 / 2;
  z-index: 12;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    display: flex;
    width: 50px;
  }
}

.rightItem {
  grid-area: 2 / 4 / 4 / 5;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    display: flex;
    width: 50px;
  }
}

.infoItem {
  grid-area: 4 / 1 / 5 / 5;
  color: $colorWhite;
  font-family: "Roboto";
  .captionNunmber {
    margin-top: 8px;
    font-size: 1.1rem;
    font-weight: 400;

    .littleTitle {
      font-family: "Roboto Mono";
      font-size: 0.9rem;
      font-weight: 700;
      color: $colorGray;
    }
  }
}

.dialogImageItem {
  position: absolute;
  grid-area: 1 / 1 / 4 / 5;
  z-index: 5;
  border: 5px solid white;
}
