@import "../abstract/color";
@import "../abstract/fonts";
@import "../abstract/responsive";

.pickerRoot {
  background-color: transparent;
  border: transparent;
  margin: 0;
  padding: 0;
  width: 130px;

  @include tablet {
    width: 180px;
  }

  .picker {
    cursor: pointer;
    //background-color: $colorPrimary;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    //height: 60px;

    h2 {
      font-family: "Share Tech Mono", monospace;
      color: $colorPrimary !important;
      font-size: 1.8rem;
      padding-right: 5px;
      margin: 0px;
    }
    .triangle {
      margin-right: 5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 12.5px 8px 0 8px;
      border-color: $colorPrimary transparent transparent transparent;
    }
  }
}

.picker-nav {
  background-color: $colorWhite;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  z-index: 200;

  @include tablet {
    width: 180px;
  }

  .picker-ul {
    margin: 0px;
    padding: 0px;

    li {
      list-style: none;

      .categoryButton {
        cursor: pointer;
        background-color: transparent;
        border: transparent;
        text-decoration: none;
        font-family: "Share Tech Mono", monospace;
        padding-top: 10px;

        font-size: 1.4rem;
        color: $colorSecondary;
      }
    }
  }
}
