@import "../abstract/color";
@import "../abstract/fonts";
@import "../abstract/responsive";

.share-buttons-root {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  .share-buttons {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    //border: 1px solid red;

    @include tablet {
      width: 45%;
    }
    @include desktop {
      width: 100%;
    }
  }
}
