@import "../abstract/color";
@import "../abstract/fonts";
@import "../abstract/responsive";

.single-image-root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;

  @include tablet {
    flex-direction: column-reverse;
    overflow: auto;
    height: auto;
  }

  @include desktop {
    flex-direction: row;
    overflow: hidden;
  }
}

.single-image-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: $colorSecondary;
  height: 100vh;

  @include tablet {
    width: 100%;
  }

  @include desktop {
    width: 60%;
  }

  @include large {
    width: 75%;
  }
}
.single-image-arrow-button {
  background: transparent;
  outline: transparent;
  border: transparent;
  cursor: pointer;
}

.single-image-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.fullsize-image {
  height: 100%;
  max-width: 1000px;
}

.single-image-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 50px;

  @include tablet {
    width: 100%;
  }

  @include desktop {
    width: 40%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  @include large {
    width: 25%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .single-image-header-content {
    h1 {
      margin-top: -5px;
      line-height: 1.4rem;
      font-size: 1.8rem;
      font-weight: 300;
      margin-bottom: 25px;
    }
  }
}
