@import "./sections/topbar";
@import "./sections/about";
@import "./sections/blog";
@import "./sections/courses";
@import "./sections/teaching";
@import "./component/modal";
@import "./abstract/fonts";

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

figure {
  margin: 0px;
  width: 100%;
  img {
    width: 100%;
  }
}
